{% extends "base.html" %}

{% block content %}
    <script>
        function fresh()
        {
            window.location.reload();
        }
        setTimeout('fresh()',5000);
    </script>
    <ul>
        {% for video_id, video_info in message.items %}
            {% if video_info.status == 'PENDING' or video_info.status == 'STARTED' or video_info.status == 'RETRY' %}
                <li>
                    <table>
                        <tr>|--{{ video_info.file_name }}&nbsp;-&nbsp;{{ video_info.file_size }}</tr>
                        {% for file_name, file_curr_size in video_info.files_curr_sizes.items %}
                            <tr><td>{{ file_name }}: {{ file_curr_size }}</td></tr>
                        {% endfor %}
                    </table>

                </li>

            {% elif video_info.status == 'SUCCESS' %}
                <li><p>{{ video_info.file_name }} is donwloaded sucessfully.<br>You can download <a href="{% url 'Final_Downloader:transmit_task' video_id %}" target="_blank">here.</a></p></li>
            {% elif video_info.status == 'FAILURE'%}
                <li><p>{{ video_info.file_name }} failed to download. Start retrying.</p></li>
            {% endif %}
            <p><br></p>
        {% endfor %}
    </ul>
{% endblock content %}  