{% extends "YoutubeDownloader/base.html" %}

{% block content %}
    <script>
        function fresh()
        {
            window.location.reload();
        }
        setTimeout('fresh()',5000);
    </script>
    <ul>
        {% for video_id, video_info in message.items %}
            {% if video_info.status == 'PENDING' %}
                <li><p>{{ video_info.file_name }}</p></li>
                <li><p>{{ video_info.file_curr_size }} bytes : {{ video_info.file_size }} bytes</p></li>
            {% elif video_info.status == 'SUCCESS' %}
                <li><p>{{ video_info.file_name }} is donwloaded sucessfully.<br>You can download <a href="{% url 'YoutubeDownloader:transmit_task' video_id %}" target="_blank">here.</a></p></li>
            {% endif %}
            <p><br></p>
        {% endfor %}
    </ul>
{% endblock content %}  