<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Download Pro X</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <aside>
        <p>
            <a href="{% url 'Final_Downloader:new_task' %}">Final-Download-Pro-X</a> - 
            {% if user.is_authenticated %}
                Hello, {{ user.username }}.
                <a href="{% url 'Users:logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'Users:login' %}">Log in</a> - 
                <a href="{% url 'Users:register' %}">Register</a>
            {% endif %}   
        </p>
    </aside>
    {% block content %}{% endblock content %}
</body>
</html>